.transition ( $transition ) {
	-webkit-transition: $transition;
	transition: $transition;
}

.transition-property-prop( $property ) {
 	-webkit-transition-property: $property;
 	transition-property:         $property;
}

.transition-property-duration( $duration ) {
	-webkit-transition-property: $duration;
 	transition-property:         $duration;
}

.transition-timing-function( $timing ) {
	-webkit-transition-timing-function: $timing;
	transition-timing-function:         $timing;
}

.transition-delay( $delay ) {
	-webkit-transition-delay: $delay;
	transition-delay:         $delay;
}

/* standard curve */
.curve-standard( $property ) {
	transition( $property 1s cubic-bezier( 0.4, 0.0, 0.2, 1.0 ) 0 );
}
/* deceleration curve */
.curve-decelerate( $property ) {
	transition( $property 1s cubic-bezier( 0.0, 0.0, 0.2, 1.0 ) 0 );
}

/* acceleration curve */
.curve-accelerate( $property ) {
	transition( $property 1s cubic-bezier( 0.4, 0.0, 1.0, 1.0 ) 0 );
}

/* sharp curve */
.curve-sharp( $property ) {
	transition( $property 1s cubic-bezier( 0.4, 0.0, 0.6, 1.0 ) 0 );
}
